.home-hero {
  .home-hero-bg-img {
    min-height: 200px;
  }

  .home-hero-overlay {
    opacity: 0.8;
  }

  .home-hero-text {
    .logo-name {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 600;
    }

    .logo-function {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    p {
      @include font-size(1.125rem);
      font-weight: 600;
    }
  }
}
