header {
  box-shadow: 0 .5rem 1rem #00000026, inset 0 -1px #ffffff26;
  height: $header-height;

  .header-wrapper {
    position: relative;
    height: $header-height;

    nav {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      button.navbar-toggler:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      .navbar-brand {
        outline: 0;
      }

      .nav-link {
        &.active {
          font-weight: $font-weight-bold;
        }
      }

      .offcanvas {
        &:not(.show) {
          .nav-link {
            color: #fff;
          }
        }
      }
    }
  }
}

main {
  margin-top: $header-height;
}
