@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-latin-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-rest-400-normal.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-latin-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-rest-400-italic.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-latin-700-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/sohne-rest-700-normal.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-latin-700-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/sohne-rest-700-italic.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-latin-400-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-rest-400-normal.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-latin-400-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-rest-400-italic.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-latin-700-normal.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/source-serif-pro-rest-700-normal.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-latin-700-italic.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/source-serif-pro-rest-700-italic.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}



body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  color: $dark;
}

.text-serif {
  font-family: $font-family-serif;
}

.text-sans-serif {
  font-family: $font-family-sans-serif;
}

.text-bold {
  font-weight: $font-weight-bold;
}

#page-content {
  h1 {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    @include font-size(2.625rem);
    @include rfs(3em, line-height);
    letter-spacing: -0.462px;
    overflow-wrap: break-word;
    color: $dark;
  }

  h2 {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: 1.375rem;
    color: #6b6b6b;
  }

  p {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
  }

  strong {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    font-weight: 700;
  }
}
