$fonts: (
    (
        "Poppins",
        "../fonts/Poppins/poppins-extralight.woff2",
        200,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-thinitalic.woff2",
        100,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-extralightitalic.woff2",
        200,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-bolditalic.woff2",
        700,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-light.woff2",
        300,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-medium.woff2",
        500,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-semibolditalic.woff2",
        600,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-extrabolditalic.woff2",
        800,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-extrabold.woff2",
        800,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-blackitalic.woff2",
        900,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-regular.woff2",
        400,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-lightitalic.woff2",
        300,
        italic
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-bold.woff2",
        700,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-black.woff2",
        900,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-thin.woff2",
        100,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-semibold.woff2",
        600,
        normal
    ),
    (
        "Poppins",
        "../fonts/Poppins/poppins-italic.woff2",
        400,
        italic
    ),
    (
        "Poppins-Medium",
        "../fonts/Poppins/poppins-mediumitalic.woff2",
        500,
        italic
    ),
);

@each $font in $fonts {
  @font-face {
    font-family: nth($font, 1);
    src: url(nth($font, 2)) format("woff2");
    font-weight: nth($font, 3);
    font-style: nth($font, 4);
    font-display: swap;
  }
}

$font-weights: (
  ("thin", 100),
  ("extra-light", 200),
  ("weight-light", 300),
  ("regular", 400),
  ("medium", 500),
  ("semi-bold", 600),
  ("bold", 700),
  ("extra-bold", 800),
  ("black", 900)
);

@each $font-weight in $font-weights {
  .text-#{nth($font-weight, 1)} {
    font-weight: nth($font-weight, 2);
  }
}

.text-small {
  @include font-size(0.875rem);
}

.text-justify {
  text-align: justify;
}

.text-condensed {
  letter-spacing: -0.025rem;
}

h1 {
  font-weight: 700;
  @include font-size(2.375rem);
}

h2 {
  font-weight: 700;
  @include font-size(1.5rem);
  @include rfs(-0.03125rem, letter-spacing);
  margin-bottom: 0.375rem;
}

p + h2 {
  @include rfs(1.5rem, margin-top);
}

a.link-white {
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}
