$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);

// Add .text-{color}-{level} classes
$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

// Add .bg-{color}-{level} classes
$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

// Add .border-{color}-{level} classes
$utilities: map-merge(
  $utilities,
  (
    "border-color": map-merge(
      map-get($utilities, "border-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "border-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),
  )
);

// Same with grays
$utilities: map-merge(
  (
    "bg-grays": (
      property: background-color,
      class: bg-gray,
      values: $grays
    ),
    "text-grays": (
      property: color,
      class: text-gray,
      values: $grays
    ),
    "border-grays": (
      property: border-color,
      class: border-gray,
      values: $grays
    )
  ),
  $utilities
);
