header {
  padding: .75rem 0;
  background-color: #712cf9;
  box-shadow: 0 .5rem 1rem #00000026, inset 0 -1px #ffffff26;

  button.navbar-toggler:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .offcanvas:not(.show) {
    .nav-link {
      color: #fff;
    }
  }
}
