$font--sans-serif: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;;
$font-family-serif: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;

$dark: #242424;
$text-light: #6b6b6b;
