$font-sans-serif: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-sans-serif: $font-sans-serif;
$font-family-serif: $font-serif;

$dark: #242424;
$text-light: #6b6b6b;
